All SQL databases are relational databases

SQL for CRUD (Create, Read, Update, Delete) rows/records and tables/columns

SQL command for Create is insert

SQL command for Read is select

SQL command for Update is update, alter

SQL command for Delete is delete, drop

In [1]:
# how to sqlite (sql database) onto jupyter notebook

In [2]:
!pip install ipython-sql
import sqlalchemy

Requirement already satisfied: ipython-sql in c:\users\kate\anaconda\lib\site-packages (0.4.1)
Requirement already satisfied: ipython>=1.0 in c:\users\kate\anaconda\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: sqlparse in c:\users\kate\anaconda\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\kate\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\kate\anaconda\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: prettytable<1 in c:\users\kate\anaconda\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\kate\anaconda\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: colorama in c:\users\kate\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\kate\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\kate\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: setuptools>=18.5 in c:\users\kate\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: jedi>=0.16 in c:\users\kate\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: pygments in c:\users\kate\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: pickleshare in c:\users\kate\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\kate\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: backcall in c:\users\kate\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\kate\anaconda\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\kate\anaconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kate\anaconda\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)

sqlalchemy.create_engine('sqlite:///foo.db')

In [3]:
%load_ext sql

In [4]:
# bringing sqlite database (downloaded first to my computer, saved into a folder), onto Jupyter Notebook

# sqlite:/// and / folder location/ folder location... / folder name

In [5]:
%sql sqlite:////datascience/SQL/my_ipod.sqlite3

In [6]:
# To find out which tables are there in this database, you can use the following command. 
# The standard command “.tables” from the SQLite console will not work.

In [7]:

%%sql
SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:////datascience/SQL/my_ipod.sqlite3
Done.

[('schema_migrations',),
 ('ar_internal_metadata',),
 ('genres',),
 ('sqlite_sequence',),
 ('artists',),
 ('albums',),
 ('songs',),
 ('User',),
 ('Favorite',)]

In [8]:
# practice querying the table

In [9]:
%%sql
SELECT * FROM artists limit 10;

 * sqlite:////datascience/SQL/my_ipod.sqlite3
Done.

[(1, 'Alanis Morissette', 'Alanis Nadine Morissette is a Canadian-American alternative rock singer, songwriter, musician, multi-instrumentalist, record producer, and actress. ', 8, 1983, '2018-03-31 14:25:36.657442', '2018-03-31 14:25:36.657442'),
 (2, 'Avril Lavigne', 'Avril Lavigne is a Canadian singer-songwriter who signed with Artista Records by the age of 16.', 0, 1999, '2018-03-31 14:25:36.662908', '2018-03-31 14:25:36.662908'),
 (3, 'Ariana Grande', 'Ariana Grande is an American singer and actress. She started her career in 2008 with a musical and played Cat Valentine in Nickelodeon tv series, Victorious.', 0, 2008, '2018-03-31 14:25:36.668385', '2018-03-31 14:25:36.668385'),
 (4, 'AC/DC', 'AC/DC is an Australian rock band formed by Malcum and Angus Young. ', 2, 1973, '2018-03-31 14:25:36.675144', '2018-03-31 14:25:36.675144'),
 (5, 'Alabama Shakes', 'Alabama Shakes is a Blues rock band from Athens, Alabama.', 4, 2009, '2018-03-31 14:25:36.680052', '2018-03-31 14:25:36.680052'),
 (6, 'The Avett Brothers', 'Avett Brothers are an American folk rock band from Concord, North Carolina.', 0, 2000, '2018-03-31 14:25:36.721773', '2018-03-31 14:25:36.721773'),
 (7, 'Black Sabbath', 'Black Sabbath is an English Rockband from Birmingham. Ozzy Osbourne is the lead singer.', 2, 1968, '2018-03-31 14:25:36.730409', '2018-03-31 14:25:36.730409'),
 (8, 'The Beatles', 'The Beatles werean English Rock Band formed in Liverpool. ', 25, 1960, '2018-03-31 14:25:36.744048', '2018-03-31 14:25:36.744048'),
 (9, 'The Black Eyed Peas', 'The Black Eyed Peas are an American ', 6, 1995, '2018-03-31 14:25:36.755708', '2018-03-31 14:25:36.755708'),
 (10, 'Beyoncé', 'Beyoncé Giselle Knowles-Carter is an American singer, songwriter and actress. Born and raised in Houston, Texas, Beyoncé performed in various singing and dancing competitions as a child.', 20, 1997, '2018-03-31 14:25:36.763010', '2018-03-31 14:25:36.763010')]

In [10]:
%%sql
SELECT*FROM genres limit 5;

 * sqlite:////datascience/SQL/my_ipod.sqlite3
Done.

[(1, 'Alternative', '2018-03-31 14:25:36.582526', '2018-03-31 14:25:36.582526'),
 (2, 'Blues', '2018-03-31 14:25:36.587929', '2018-03-31 14:25:36.587929'),
 (3, 'Reggae', '2018-03-31 14:25:36.590178', '2018-03-31 14:25:36.590178'),
 (4, 'Rap', '2018-03-31 14:25:36.592799', '2018-03-31 14:25:36.592799'),
 (5, 'Country', '2018-03-31 14:25:36.595362', '2018-03-31 14:25:36.595362')]